@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

#landing-page{
    min-height: 100vh;
}

section{
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
 transition: all 300ms ease;
}

.orange__text{
    color: rgb(255, 144, 0)
}

.blue__text{
    color: rgb(18, 74, 171);
}
